@model TesteInfortronics.Models.ModelExercicio1



<div>
    @using (Html.BeginForm("AdicionaNumero", "Home", FormMethod.Post))
    {
        <label>Digite o valor que você quer adicionar na lista</label>
        <table cellpadding="0" cellspacing="0">
            <tr>
                <td>@Html.TextBoxFor(m => m.numero)</td>
            </tr>
            <tr>
                
                <td><input type="submit" class="btn btn-info" style="margin-top:5px;" value="Adicionar" /></td>
            </tr>
            
        </table>
    }
</div>